@media (prefers-color-scheme:dark){
 :root {
    color-scheme: light dark;
}   
}
@media (prefers-color-scheme:light){
 :root {
    color-scheme: light;
}   
}
body {
    width: 98%;
    padding: 10px;
    font-family: system-ui;
    text-align: center;
    font-size:30px;
    /* background-color: rgba(255, 255, 255, 0.825); */
}
#store {
 width: 50%;
}
h1 {
    text-align: center;
}
img {
    width: 30%;
}
